torch        # nlp genrative model
transformers      #text classification ,translation and summarization
diffusers         
speechrecognition
pydub         #audio file processing
accelerate    #multiple devices
pyaudio
streamlit